nb-select{
    display: inline;
  }
  nb-card-body {
    min-width: 602px;
    min-height: 178px; 
  
  }
  nb-card-footer{
    text-align: end;
    }
    button {
      padding-left: 14px;
      padding-right: 14px;
      font-size: 12px;
      line-height: 18px;  
      color: #ffffff !important;
      background-color: #30DDBC !important;
      border-color: #30DDBC !important;
    }